#testgift{
  background-image: url("https://i.imgur.com/wj2DmXF.jpg");
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.hellobaby {
  max-width: 75%;
  max-height: 75%;
}

footer{
  background-color: rgb(168,67,60);
  height: 120px;
  font-family: 'Roboto Condensed', sans-serif;
}

.name {
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
}

#cpr{
  max-width: 175px;
  max-height: 175px;
}

/*.abbody{
  background-image: url("https://i.imgur.com/KK61GPa.jpg");
  background-size:100% 100%;
  box-sizing: border-box;
}*/

.brd{
  border-style: solid;
  border-color: rgb(168,67,60);
}

.btn{
  border-radius: 8px;
  min-width: 100%;
  min-height: 100%;
}



#check{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-size: 27px;
  transition: all 0.5s;
  cursor: pointer;
  background-color: rgb(168,67,60);
}


#check span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#check span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#check:hover span {
  padding-right: 25px;
}

#check:hover span:after {
  opacity: 1;
  right: 0;
}

.adm{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgb(168,67,60);
}

#htp{
  background-color:  rgb(168,67,60);
  font-size: 28px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.topnav{
  overflow: hidden;
  background-color: rgb(168,67,60);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(232, 190, 46);
  color: white;
}

.spons{
  background-color:  rgb(168,67,60);
  color: rgb(232, 190, 46);
}

.logomenu{
  max-height: 52.8px;
  max-width: 100px;
  margin: 0 auto;
}

.coldes3{
  object-fit: cover;
  max-width: 240px;
  max-height: 4578.22px;
}

.coldes2{
  object-fit: cover;
  max-width: 240px;
  max-height: 4578.22px;
}

#logogift{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.desc{
  font-size: 20px;
}

#welcome{
  font-size: 100px;
}

.nogift{
  margin: 0 auto;
}

.chek{
  width: 50%;
  height: 50%;
}
