{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <h1>Welcome</h1>
</div>
<div class="container my-3">
  <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img id="logogift" src="https://i.imgur.com/Rmzs3Dn.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img id="logogift" src="https://i.imgur.com/7LWHLEi.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img id="logogift" src="https://i.imgur.com/Rmzs3Dn.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
