{% extends "base.html" %}

{% block page_content%}
<div class="container">
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>#</th>
        <th>Questions</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>DAJDAJHDLKAJSDLKH</td>
        <td>
            <a href="">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock%}
