{% extends "base.html" %}

{% block page_content %}
<div class="row">
  <div class="col-lg-3">

  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="">
      <h2 style="font-family: 'Bitter', serif" class = "text-center text-danger  my-3">Your gift has been sent</h2>
      <h4 class = "text-center" style="font-family: 'Roboto Condensed', sans-serif">Thank you my lovely user!</h4>
      <button id="check" type="button" class = "btn btn-danger my-3" name="button"><a id="check" class="text-white" href="/">Take the test again</a></button>
    </div>
  </div>
</div>


{% endblock %}
