{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div class="clearfix">
      <a href="/login">
        <button class="btn btn-danger float-right text-white" type="submit" name="button">Sign In</button>
      </a>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-2">
        <div class="card-body">
          <h3 id="pres">Presents</h3>
          <img src="https://docs.google.com/uc?id=0ByQk_BXnNoNfWndaUS1SblpHNDQ" class="img-fluid" alt="">
        </div>
      </div>
  </div>
    <div class="col-lg-6 col-sm-12">
      <form class="" action="/" method="post">
        <div class="card mb-2">
          <div class="card-body">
            <h3 id="quest">QUESTION</h3>
            <h3 class = "lead">Multiple Choices</h3>
            <h6>Question 1: {{questions.question}}</h6>
            <h6>A. {{questions.answerA}} <br>B. {{questions.answerB}} <br>C. {{questions.answerC}} <br>D. {{questions.answerD}}</h6>
            <label for="">Answer</label>
            <input type="text" name="answer1" value="">
            <br>
            <h6>Question 2: {{questions2.question}}</h6>
            <h6>A. {{questions2.answerA}} <br>B. {{questions2.answerB}} <br>C. {{questions2.answerC}} <br>D. {{questions2.answerD}}</h6>
            <label for="">Answer</label>
            <input type="text" name="answer2" value="">
            <br>
            <h6>Question 3: {{questions3.question}}</h6>
            <h6>A. {{questions3.answerA}} <br>B. {{questions3.answerB}} <br>C. {{questions3.answerC}} <br>D. {{questions3.answerD}}</h6>
            <label for="">Answer</label>
            <input type="text" name="answer3" value="">
            <br>
            <h6>Question 4: {{questions3.question}}</h6>
            <h6>A. {{questions3.answerA}} <br>B. {{questions3.answerB}} <br>C. {{questions3.answerC}} <br>D. {{questions3.answerD}}</h6>
            <label for="">Answer</label>
            <input type="text" name="answer4" value="">
            <br>
            <h3 class = "lead">Stress</h3>
            <h6>A. {{stress.answerA}} <br>B. {{stress.answerB}} <br>C. {{stress.answerC}} <br>D. {{stress.answerD}}</h6>
            <label for="">Answer</label>
            <input type="text" name="answer5" value="">
            <button type="submit" name="button" class="btn btn-danger float-right">Check</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-3">
      <div class="card mb-2">
        <div class="card-body">
          <h3 id="htp">How to play</h3>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock%}
