{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div class="clearfix">
      <a href="/login">
        <button class="btn btn-danger float-right text-white" type="submit" name="button">Sign In</button>
      </a>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-2">
        <div class="card-body">
          <h3>Presents</h3>
          <img src="https://docs.google.com/uc?id=0ByQk_BXnNoNfWndaUS1SblpHNDQ" class="img-fluid" alt="">
        </div>
      </div>
  </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card mb-2">
        <div class="card-body">
          <h3>QUESTION</h3>
          <h3 class = "lead">Multiple Choices</h3>
          <h6>Question 1: {{questions.question}}</h6>
          <h6>A. {{questions.answerA}} <br>B. {{questions.answerB}} <br>C. {{questions.answerC}} <br>D. {{questions.answerD}}</h6>
          <label for="">Answer</label>
          <input type="text" name="Answer" value="">
          <br>
          <h6>Question 2: {{questions2.question}}</h6>
          <h6>A. {{questions2.answerA}} <br>B. {{questions2.answerB}} <br>C. {{questions2.answerC}} <br>D. {{questions2.answerD}}</h6>
          <label for="">Answer</label>
          <input type="text" name="Answer" value="">
          <br>
          <h6>Question 3: {{questions3.question}}</h6>
          <h6>A. {{questions3.answerA}} <br>B. {{questions3.answerB}} <br>C. {{questions3.answerC}} <br>D. {{questions3.answerD}}</h6>
          <label for="">Answer</label>
          <input type="text" name="Answer" value="">
          <br>
          <h6>Question 4: {{questions3.question}}</h6>
          <h6>A. {{questions3.answerA}} <br>B. {{questions3.answerB}} <br>C. {{questions3.answerC}} <br>D. {{questions3.answerD}}</h6>
          <label for="">Answer</label>
          <input type="text" name="Answer" value="">
          <br>
          <button type="submit" name="button" class="btn btn-danger float-right">Check</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card mb-2">
        <div class="card-body">
          <h3>How to play</h3>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock%}
