{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div class="clearfix">
      <a href="/login">
        <button class="btn btn-danger float-right text-white" type="submit" name="button">Sign In</button>
      </a>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h3>Presents</h3>
  </div>

    <div class="col-lg-6 col-sm-12">
      <h3>QUESTION</h3>
      <h4>Question: {{questions.question}}</h4>
      <h4>A. {{questions.answerA}} <br>B. {{questions.answerB}} <br>C. {{questions.answerC}} <br>D. {{questions.answerD}}</h4>
      <label for="">Answer</label>
      <input type="text" name="Answer" value="">
      <br>
      <button type="submit" name="button" class="btn btn-danger float-right">Check</button>
    </div>

    <div class="col-lg-3">
      <h3>How to play</h3>
    </div>
  </div>

</div>




{% endblock%}
