{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <form action = "/login" class="login-form justify-content-center" method="post">
        <div class="lead">
          <label for="" class = "text-info">Tên đăng nhập</label>
          <input type="text" name="username" value="" class="form-control">
        </div>
        <div class="lead">
          <label for="" class = "text-info">Mật khẩu</label>
          <input type="password" name="password" value="" class="form-control">
        </div>
        <button type="submit" name="button" class="btn btn-info mt-3">Login</button>
  </form>
</div>




{% endblock%}
