{% extends "base.html" %}

{% block page_content%}
<div class="container">
  <h1 class = "text-info text-center m-3">{{girl_type.name}}</h1>
  <div class="row">
    <img src="{{girl_type.image}}" alt="" class ="img-fluid col-md-6">
    <div class="card border-info col-md-6 text-center">
          <p class="lead m-3">{{girl_type.description}}</p>
    </div>
    <a href="/" class ="m-4">
      <button class="btn btn-info">Về trang chủ</button>
    </a>
  </div>

</div>
{% endblock%}
